<%-include('header')-%>


<div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
        <div class="card" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <i class="fas fa-hammer fa-4x"></i>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="/calendar" class="btn btn-primary">Book a job</a>
            </div>
          </div>
    </div>
    <div class="col">
        <div class="card" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <i class="fas fa-temperature-low fa-4x"></i>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="/calendar" class="btn btn-primary">Book a job</a>
            </div>
          </div>
    </div>
    <div class="col">
        <div class="card" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <i class="fas fa-wrench fa-4x"></i>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="/calendar" class="btn btn-primary">Book a job</a>
            </div>
          </div>
    </div>
    <div class="col">
        <div class="card" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <i class="fas fa-wrench fa-4x"></i>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="/calendar" class="btn btn-primary">Book a job</a>
            </div>
          </div>
    </div>
    <div class="col">
        <div class="card" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <i class="fas fa-wrench fa-4x"></i>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="/calendar" class="btn btn-primary">Book a job</a>
            </div>
          </div>
    </div>
    <div class="col">
        <div class="card" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <i class="fas fa-tools fa-4x"></i>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="/calendar" class="btn btn-primary">Book a job</a>
            </div>
          </div>
    </div>
    <div class="col">
        <div class="card" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="...">
            <i class="fas fa-wrench fa-4x"></i>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="/calendar" class="btn btn-primary">Book a job</a>
            </div>
          </div>
    <div class="col">
        <div class="card" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="...">
            <i class="fas fa-wrench fa-4x"></i>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="/calendar" class="btn btn-primary">Book a job</a>
            </div>
          </div>
    <div class="col">
        <div class="card" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="...">
            <i class="fas fa-wrench fa-4x"></i>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="/calendar" class="btn btn-primary">Book a job</a>
            </div>
          </div>
    </div>


  </div>













<%-include('footer')-%>