<%-include('employeeheader')-%>

<h2>Employee Portal</h2>

<i class="fas fa-briefcase fa-10x"></i>
<i class="fas fa-briefcase fa-10x"></i>
<i class="fas fa-briefcase fa-10x"></i>

<%-include('footer')-%>