<footer class="text-center footer text-lg-start py-3">
    
    <!-- Copyright -->
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.2);">
      <p class="float-right"><a href="#">Back to top</a></p>
      © 2021 SCE Project Copyright:
      <a class="text-dark" href=""></a>
    </div>
    <!-- Copyright -->
  </footer>



</body>
</html>