
<%-include('header')-%>





<ol class="list-group list-group-numbered">

    <li class="list-group-item d-flex justify-content-between align-items-start">
      <div class="ms-2 me-auto">
        <div class="fw-bold">Subheading</div>
      </div>
      <button type="button" class="btn btn-secondary " href="/ratingsystem">
        Rate
        <a class="nav-link" href="/ratingsystem"></button>
    </li>
 
      
  </ol>

  <%-include('footer')-%>