@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body{
    font-family: 'Open Sans', sans-serif;
    background-image: url('/assets/background.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.center-div {
    padding-top:10%;
}

form{
    padding:-2 1em;
}

#login .title > span {
    font-size:.8em
}

.footer {
    position:relative;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    
}